<section>
    <header class="major">
        <h2>Get in touch</h2>
    </header>
    <p>Before you speak, let your words pass through three gates: <br/>
    At the first gate, ask yourself: <i>"Is it true?"</i><br/>
    At the second: <i>"Is it necessary?"</i><br/>
    At the third: <i>"Is it kind?"</i><br/>
    Sufy saying</p>
    <ul class="contact">
        <li class="fa-envelope-o"><a href="mailto:jeandidier.marechal@uab.cat">jeandidier.marechal@uab.cat</a></li>
        <li class="fa-phone">+34 93 581 4936</li>
        <li class="fa-home">Prof. Dr. Jean-Didier Maréchal<br />
                            InsiliChem<br />
                            Unitat de Química Física<br />
                            Despatx C7-032<br />
                            Edifici Cn. Campus UAB<br />
                            Universitat Autònoma de Barcelona<br />
                            08193, Bellaterra, Barcelona<br />
                            Spain</li>
    </ul>
</section>