<!-- Header -->
<header id="header">
    <a href="index.html" class="logo">Prof. Dr. Jean-Didier <strong>Maréchal</strong></a>
    <ul class="icons">
        <li><a href="mailto:jeandidier.marechal@uab.cat" target="_blank" class="icon fa-envelope" title="Contact by e-mail"><span class="label">E-mail</span></a></li>
        <li><a href="https://www.linkedin.com/in/jean-didier-mar%C3%A9chal-68307510/" target="_blank" class="icon fa-linkedin" title="LinkedIn"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://www.researchgate.net/profile/Jean-Didier_Marechal/contributions" target="_blank" class="icon fa-university" title="ResearchGate"><span class="label">ResearchGate</span></a></li>
        <li><a href="https://scholar.google.es/citations?user=1hjLUfgAAAAJ" target="_blank" class="icon fa-graduation-cap" title="Google Scholar"><span class="label">Google Scholar</span></a></li>
        <li><a href="http://orcid.org/0000-0002-8344-9043" target="_blank" class="icon fa-info-circle" title="ORCID"><span class="label">ORCID</span></a></li>
        <li><a href="https://github.com/insilichem" target="_blank" class="icon fa-github" title="Google Scholar"><span class="label">GitHub</span></a></li>
    </ul>
</header>